@charset "utf-8";

/* CSS Document */

a.bl:link, a.bl:active , a.bl:visited { text-decoration:underline; color:#0054A6;}
a.bl:hover { text-decoration:none; color:#0054A6}

/* フォーム入力例 */
.formAssist{
	margin:5px;
	line-height:1.4;
	font-size:12px;
	color:#999;
}

/* URL */
#MobileBrandUrl{
	cursor:pointer;
}
.productUrlWrap{
	margin:8px;
}
.productUrl{
	margin:1px 0;
	display:table;
}
.productUrl dt,.productUrl dd{
	padding:3px 0;
	display:table-cell;
}
.productUrl dt{
	width:50px;
}
.productUrl dd img{
	vertical-align:middle;
}
.copy{
    border: 1px dotted #999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 100%;
    height: auto;
    padding: 5px 2px;
    width:320px;
	background:#f0f0f0;
}
.qtip-content .copy{
	width:95%;
}

/* ボタン */
.saveBtn{
	width:95%;
	margin:16px auto;
	text-align:center;
	background:url(../images/saveBg.png);
}
.saveBtn p{
	margin:0 0 8px;
	font-size:11px;
	color:#666;
}
.saveBtn img{
	margin:8px auto 6px;
}
.lastBtn{
	background:url(../images/saveBg.png);
	width:95%;
}
.lastBtn img{
	margin:16px auto;
}

/* 価格 */
.salesPrice{
	display:-webkit-box;
  	display:-ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.salesPrice p{
	margin:0;
	padding:0;
	display: inline;
}

.salesPrice .salesTax{
	margin-left:8px;
}

.reducedTax{
	margin-left: 4px;
}

/* アイコン選択 */
#iconSelect{
	border-top:3px solid #dadada;
}
#iconSelect th{
	font-size:9pt;
	font-weight:normal;
	background:#f0f0f0;
}
#iconSelect .inner{
	margin: 8px;
}
#iconSelect img,#iconSelect input{
	vertical-align:middle;
}
#iconSelect #selected{
	width:100%;
	margin-bottom:8px;
}
#iconSelect #selected th{
	font-weight:bold;
	color:#cc0000;
	background:#fff;
	width:120px;
}
#iconSelect #selected th,#iconSelect #selected td{
	text-align:left;
	padding:4px 0;
}
#iconSelect #selected td img{
	margin-right:4px;
}
#iconSelect .trigger{
	margin:0;
	width:491px;
	height:28px;
	background:url("../images/iconTrigger.png") no-repeat;
	text-indent:-9999em;
}
#iconSelect .trigger.active{
	background:url("../images/iconTrigger_on.png") no-repeat;
}
#iconSelect #btn{
	text-align:center;

}
#iconSelect #btn div{
	margin:16px auto;
}
#iconSelect #btn p{
	margin:8px;
}
#iconSelect p{
	text-align:left;
	margin:0;
}
#iconSelect .bod{
	border-top:1px dashed #999;
	margin-top:16px;
}

#iconSelect h3{
	text-align:left;
	background: url("../images/h3_title.png") no-repeat scroll left center transparent;
    font-size: 12px;
    line-height: 24px;
    padding-left: 20px;
	margin:8px auto;
}
#iconSelect #iconTable .bod div{
	margin:16px auto 24px;
}

/* 定期購入 */
#repeatSale_1{
	border-top:6px solid #dadada;
}
#repeatSale_1 th,#repeatSale_1 td{
	padding:4px 2px;
}
#repeatSale_1 th{
	background:#f0f0f0;
	font-size:9pt;
	font-weight:normal;
}
/*  */

#repeatSale_2 .borderLine{
	border-top:1px dashed #999;
	padding-top:16px;
	position:relative;
	width:470px;
	height:16px;
	line-height:16px;
}
#repeatSale_2 .borderLine span{
	position:absolute;
	right:0;
	bottom:0;
	font-weight:normal;
}
#repeatSale_2 .borderLine span a{
	color:#0054A6;
	text-decoration:underline;
	padding-left:4px;
}
#repeatSale_2 .borderLine span a:hover{
	text-decoration:none;
}
#repeatSale_2 th{
	background:#999;
	color:#fff;
	font-size:15px;
	line-height:24px;
}
#repeatSale_2 .inner{
	margin:16px 16px 8px;
}
#repeatSale_2 h2{
	font-size:9pt;
	text-align:left;
	line-height:16px;
	margin:16px auto 8px;
	color:#00529e;
}
#repeatSale_2 table{
	background:#ccc;
}
#repeatSale_2 table th{
	background:#e0e0e0;
	text-align:right;
	font-weight:normal;
	font-size:9pt;
	padding:4px;
	color:#333;
}
#repeatSale_2 table td{
	background:#fff;
	padding:6px;
}
#repeatSale_2 input.inputNum{
	width:40px;
	margin-right:4px;
}
#repeatSale_2 input.inputName{
	width:200px;
}
#repeatSale_2 #repeatPrice{
	width:340px;
	margin-top:8px;
}
#repeatSale_2 #repeatPrice th{
	text-align:center;
	background:#e0e0e0;
}
#repeatSale_2 #giftSetting table th{
	background:#e0e0e0;
	width:130px;
}
#repeatSale_2 #giftSetting table textarea{
	width:120px;
}
#repeatSale_2 #giftSetting .giftImg{
	width:100px;
	margin-bottom:8px;
}
#repeatSale_2 p{
	margin:4px 0 0;
}
#repeatSale_2 .buyCycle{
	padding-left:4px;
	font-weight:bold;
}
#repeatSale_2 .cautionRepeat{
	margin-bottom:8px;
	color:#999;
}
#repeatSale_2 img{
	border:0;
}
#repeatSale_2 .add{
	text-align:center;
	margin:6px auto 16px;
}
#repeatSale_2 .fontS{
	font-size:12px;
	color:#999;
}

/* 保存時メッセージ */
.msg{
	text-align:center;
	background:#FAE2E3;
	border:1px solid #EC9B9B;
	margin:24px 0 0 16px;
	padding:8px 0;
	border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.msg p{
	margin:0;
	line-height:1.4;
}
.msg .msgName{
	font-weight:bold;
}
.msg input{
	margin-top:2px;
	cursor:pointer;
}

/* 定期購入 */
div.areaHeight {
    color: #006699;
    font-size: 12px;
    margin:8px 8px 4px;
    text-align: right;
	overflow:hidden;
	_zoom:1;
}
div.areaHeight .areaTitle{
	float:left;
	width:60%;
}
div.areaHeight p{
	margin:0;
	line-height:18px;
	color:#333;
	font-weight:bold;
	text-align:left;
}
div.areaHeight p.smallTxt{
	font-size:11px;
	font-weight:normal;
	color:#666;
}
div.areaHeight .areaMagnify{
	float:right;
	width:40%;
	margin-top:10px;
}
div.areaHeight img{
    margin-left: 4px;
	vertical-align:bottom;
	border:0;
}
div.areaHeight#Btm .areaMagnify{
	margin-top:30px;
}
div.areaHeight p.inputTxt{
	font-weight:normal;
}
div.areaHeight p.inputTxt input{
	vertical-align:middle;
}
.invisible{
	background:#e9e9e9;
	color:#888;
}

/* エディター */
.editorLabel{
	margin:20px 10px 5px 10px;
	text-align:left;
}
.editorLabel input{
	margin:0 6px 0 0;
	vertical-align:middle;
}
.editorHead{
	width:100%;
	position:relative;
	height:32px;
	margin-top:4px;
}
.editorHead .editorExtend{
	position:absolute;
	right:0;
	top:3px;
	height:32px;
}
.editorHead .editorExtend img{
	vertical-align:middle;
}
#categoryEditor .editorHead{
	width:612px;
	border:1px solid #ccc;
	margin:0;
	background:#f0f0f0;
	padding:8px 0;
	height:auto;
}
#categoryEditor{
	margin:0 10px;
	overflow:hidden;
	_zoom:1;
	width:614px;
}

/* firefox */
#pcSw .htmlarea,#pcaddSw .htmlarea{
	margin:8px auto 0;
}
#pcSw .toolbar,#pcaddSw .toolbar{
	border:1px solid #ccc;
	border-bottom:none;
}
#pcSw .statusBar,#pcaddSw .statusBar{
	display:none;
}
#pcSw #content,#pcaddSw #content{
	width:100%;
	margin-top:0;
}
#pcSw iframe,#pcaddSw iframe{
	border:1px solid #aaa;
}

/* Chrome */
#_editor_toolbar{
	display:block;
	width:100%;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#_editor_toolbar table{
	width:100%;
	background:#F0F0F0;
}
#_editor_toolbar table table{
	width:24px;
}
#_content_editor{
	width:100%;
	height:200px;
}

#sort{
	overflow:hidden;
	_zoom:1;
	margin:20px 15px 5px;
}
#sort ul{
	padding:0;
	margin:0;
}
#sortNow{
	float:left;
}
#sortNow em{
	font-style:normal;
	font-weight:bold;
}
#sortLine{
	float:right;
}
#sortLine li{
	border-right:1px solid #666;
	padding:0 2px 0 4px;
}
#sortLine li.firstChild{
	border-right:none;
	padding:0;
}
#sortLine span{
	margin-left:1px;
	color:#999;
}
#sortLine a:link,#sortLine a:visited,#sortLine a:active{
	color:#0054A6;
	text-decoration:none;
}
#sortLine a:hover{
	color:#333;
	text-decoration:none;
}
#sort li{
	list-style:none;
	display:inline;
}

/* 開閉スイッチ */
.blockSwitch{
	margin:0 8px 8px;
	width:491px;
}
#pcSw,#pcSw .trigger,#pcaddSw,#pcaddSw .trigger{
	width:617px;
}
.blockSwitch .textarea{
	width:99%;
	height:250px;
	font-size:12px;
	margin-top:8px;
	padding:0;
}
.blockSwitch .trigger{
	margin:0;
	width:491px;
	height:28px;
	text-indent:-9999em;
	cursor:pointer;
}
#mobileSw .trigger{
	background:url("/makeshop/newmanager/images/mobileSwTrigger.png") no-repeat;
}
#smpSw1 .trigger{
	background:url("/makeshop/newmanager/images/smpSwTrigger1.png") no-repeat;
}
#smpSw2 .trigger{
	background:url("/makeshop/newmanager/images/smpSwTrigger2.png") no-repeat;
}
#pcSw .trigger{
	background:url("/makeshop/newmanager/images/product/pcSwTrigger.png") no-repeat;
}
#pcaddSw .trigger{
	background:url("/makeshop/newmanager/images/product/pcaddSwTrigger.png") no-repeat;
}
.blockSwitch#mobileSw .active,
.blockSwitch#smpSw1 .active,
.blockSwitch#smpSw2 .active,
.blockSwitch#pcSw .active,
.blockSwitch#pcaddSw .active{
	background-position:0 -28px;
}

.blockSwitch .colRed{
    color:#ff0000;
	margin:4px auto 0;
}

.blockSwitch .blockStatus{
	border-collapse:collapse;
	margin:0;
}
.blockSwitch .blockStatus th,
.blockSwitch .blockStatus td{
	padding:12px 0 8px;
}
.blockSwitch .blockStatus th{
	color:#cc0000;
	font-weight:bold;
}
.blockSwitch .blockStatus td p{
	margin:0;
	padding:0;
}

#smpSw2{
	border-top:1px dashed #666;
}
.blockSwitch .inputTxt{
	margin:4px 0 0;
}
.blockSwitch .fontS{
	text-align:right;
	color:#888;
	margin:4px 0;
}

/**************************************************

    カテゴリ多階層

/*************************************************/
table .selectCategory{
	width:480px;
	padding:0;
	margin:8px;
}
label{
	cursor:pointer;
}
.selectCategory .fontS{
    font-size:10px;
}
.selectCategory .colRed{
    color:#ff0000;
}

.defaultStyle table{
    border-collapse: collapse;
    border-spacing: 0;
}
.defaultStyle table.widthFull{
    width:100%;
}

/* 登録済みカテゴリ一覧 */
#selectArea h5{
	overflow:hidden;
	_zoom:1;
}
#selectArea h5 span{
	float:left;
	line-height:23px;
}
#selectArea h5 img{
	float:right;
}
#categoryList{
	width:100%;
	max-height:150px;
	overflow:auto;
	margin:8px auto 0;
}
#itemCategory th,#itemCategory td{
	text-align:center;
}
#itemCategory td.categoryName{
	text-align:left;
}
#itemCategory .categoryNameText img{
    margin-left:4px;
    vertical-align:middle;
}
#itemCategory .addChild td{
	background:#fef3da;
}

/* 商品画像 */

input[type="file"].file{
	height:auto;
	margin-top:5px;
	margin-bottom:5px;
	cursor:pointer;
}


.inputFileWrap{
	margin:5px;
	background:#eee;
	padding:3px 8px 3px 3px;
}

.inputFile{
	display:inline-block;
}

.inputClear{
	vertical-align:text-bottom !important;
	cursor:pointer;
}

.imageGeneration{
	background:#ffedb8;
	padding:8px;
	margin:10px 6px;
}

.imageGeneration input[type="checkbox"]{
	margin:0 5px 0 0;
	vertical-align:middle;
}

.imageNotes{
	margin:6px;
	line-height:1.4;
}

.imageSize{
	height:auto;
	max-height:200px;
}

.imagePreview{
	margin:6px;
}

/* 追加商品画像 */
.add_image_area_after .inner{
	margin:8px;
}
.add_image_area_after #selected{
	margin-bottom:8px;
}
.add_image_area_after #selected th{
	color:#cc0000;
}
.add_image_area_after .trigger{
	margin:0;
	width:491px;
	height:28px;
	background:url("../images/product/addimgTrigger.png") no-repeat;
	text-indent:-9999em;
}
.add_image_area_after .trigger:hover{
	cursor:pointer;
}
.add_image_area_after .trigger.active{
	background:url("../images/product/addimgTrigger_on.png") no-repeat;
}
#addimgAccodion{
	width:490px;
}

#addimgAccodion img{
	vertical-align:bottom;
}
#addimgAccodion th{
	text-align:left;
	padding:6px;
}
#addimgAccodion .section{
	margin-bottom:8px;
}
#addimgAccodion .layoutSelect{
	padding:0;
	margin:16px 0 8px -3px;
}
#addimgAccodion .layoutSelect li{
	float:left;
	width:120px;
	padding:0;
	list-style:none;
	text-align:center;
	margin-left:3px;
}
#addimgAccodion .layoutSelect li div{
	text-align:center;
	margin:4px 0;
	background:#eee;
	padding:3px 0;
}
#addimgAccodion p,#addimgAccodion .layoutSelect li input{
	padding:0;
	margin:0;
}
#addimgAccodion .layoutSelect li img{
	border:1px solid #ccc;
}
#addimgAccodion .additional_image_textarea{
	width:470px;
}
#addimgAccodion h3{
	font-size:12px;
	margin:16px auto 4px;
}
#addimgAccodion h4{
	font-size:12px;
	margin:12px auto 4px;
	font-weight:normal;
}
#addimgAccodion h4 span{
	float:left;
	line-height:20px;
}
#addimgAccodion h4 p{
	float:right;
}
#addimgAccodion .caution{
	background:url(../images/order/cautionIcon.png) no-repeat left top;
	padding-left:20px;
	margin-top:12px;
}
#addimgAccodion .flR{
	float:right;
	width:260px;
}
#addimgAccodion .flR p{
	margin-top:4px;
}

#addimgAccodion .addimgWrap{
	margin-top:16px;
	width:490px;
}

#addimgAccodion .addimgWrap td{
	padding:8px 8px 24px;
}

#addimgAccodion .addimgTitle{
	background:#999;
	color:#fff;
	vertical-align:middle;
	padding:4px 8px;
}

#addimgAccodion .addimgTitle input,
#addimgAccodion .addimgTitle label{
	vertical-align:middle;
}

#addimgAccodion .addimgTitle span{
	float:left;
	line-height:1.8;
	font-weight:bold;
}

#addimgAccodion .mobileShow{
	float:right;
	line-height:1.8;
}

#addimgAccodion .inputFileWrap{
	margin:5px 0;
}

/* スタイル1 上部に太い線 */
.defaultStyle table.dft1{
    border-top:1px solid #dadada;
    border-left:1px solid #dadada;
}
.defaultStyle .widthFull{
	width:100%;
}
.defaultStyle table.headBold{
    border-top:5px solid #dadada;
}
.defaultStyle table.dft1 th,
.defaultStyle table.dft1 td{
    border-bottom:1px solid #dadada;
    border-right:1px solid #dadada;
    padding:4px 8px;
}
.defaultStyle table.dft1 th{
    background:#f0f0f0;
    color:#333;
}
.defaultStyle .alignC{
	text-align:center;
}
.defaultStyle .weightNormal{
	font-weight:normal;
}
.defaultStyle .mgnT8{
	margin-top:8px;
}
a:hover img.alpha,img.alpha:hover{
    filter: alpha(opacity=75);
  -moz-opacity:0.75;
  opacity:0.75;
}
.defaultStyle a:link, .defaultStyle a:active , .defaultStyle a:visited { text-decoration:underline; color:#0054A6;}
.defaultStyle a:hover { text-decoration:none; color:#0054A6}


/**************************************************

    option

/*************************************************/

.productInfoInput td{
	padding: 6px;
}

.optionList{
	list-style: none;
	padding: 0;
	margin: 3px 0;
}

.optionList li{
	line-height: 1.7;
}

.icon-support{
	display: inline-block;
	background: #cc0000;
	color: #fff;
	font-size: 10px;
	padding: 2px 4px;
	margin-left: 4px;
}

.optionValue{
	background: #eee;
	padding: 8px;
	margin: 12px auto 0;
}

.optionValue input{
	vertical-align: middle;
}

.optionBtnWrap{
	text-align: center;
	margin: 12px auto 24px;
}

.optionGroupBtn{
	text-align: right;
	margin: 4px 0 2px 16px;
	display: inline-block;
	vertical-align: middle;
}

select{
	padding: 4px 2px;
	margin: 3px 3px 3px 0;
	vertical-align: middle;
}

input{
	padding: 4px 0;
	vertical-align: middle;
	margin: 0 2px 0 0;
}

input[type="checkbox"]{
	margin: 0 3px;
}

input[name="reserve"]{
	width: 46px;
	box-sizing: border-box;
}

select#reserve_type{
	width: 68px;
}

select[name="optioncafe"]{
	width: 64%;
}

.cautionText{
	color: #cc0000;
	margin: 4px 0 0;
	padding: 0;
	font-size: 10px;
}

a:hover img{
	filter: alpha(opacity=75);
	-moz-opacity:0.75;
	opacity:0.75;
}

.optionLink{
	text-align: right;
	margin: 8px 0  0;
}

a:link, a:active, a:visited, a font[color="#0054A6"]{ text-decoration:underline; color:#0054A6;}
a:hover, a font[color="#0054A6"]:hover { text-decoration:none !important; color:#0054A6;}

font[color="#0054A6"]{
	color: #333;
}

.optionSetTable{
	width: 96%;
	margin: auto;
	border-collapse: collapse;
}

.optionSetTable th,
.optionSetTable td{
	text-align: left;
	border: 1px solid #c9c9c9;
	padding: 4px 8px;
	vertical-align: middle;
}

.optionSetTable th{
	background: #eee;
	width: 90px;
}